/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
 Overriding mat UI
*/
.mat-toolbar{
    background:#ffffff!important;
    color:#009EDC !important
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn{
    background-color: #00917c;
}

.mat-dialog-container{
    background-color: #fff;
    color: #000;
}